[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
visdcc = "*"
pandas = "*"
dash-bootstrap-components = "*"
dash-latex = "*"

[dev-packages]

[requires]
python_version = "3.9"
